<!--
	Custom configuration for uCommerce components.
	
	Find the ID of component you want to override
	and use the same ID here. Your component will
	override the default.
	
	You can configure new components here as well
	and have them injected into existing ones.
-->
<configuration>
  <components>
    <component id="CommerceConfigurationProvider"
		service="UCommerce.Infrastructure.Configuration.CommerceConfigurationProvider, UCommerce.Infrastructure"
		type="UCommerce.MasterClass.BusinessLogic.Integration.InMemoryCommerceConfigurationProvider, UCommerce.MasterClass.BusinessLogic">
      <parameters>
        <connectionString>Data Source=(local)\SQL2012;Initial Catalog=SitecoreUCommerceSitecore_Web;user id=sa;password=1100M@ss!;</connectionString>
      </parameters>
    </component>

    <component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="UCommerce.MasterClass.BusinessLogic.Integration.SingleUserService, UCommerce.MasterClass.BusinessLogic">
      <parameters>
        <userName>AutomaticTests</userName>
      </parameters>
    </component>

    <component id="LoggingService"
			service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
			type="UCommerce.MasterClass.BusinessLogic.Logging.ConsoleLoggingService, UCommerce.MasterClass.BusinessLogic">
    </component>

    <component id="CatalogContext"
       service="UCommerce.Runtime.ICatalogContext, UCommerce"
       type="UCommerce.MasterClass.BusinessLogic.SiteContext.ExtendedCatalogContext, UCommerce.MasterClass.BusinessLogic">
    </component>

    <component
           id="ToCompletedOrder.ExportOrderToErpSystem"
           service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.EntitiesV2.PurchaseOrder, UCommerce]], UCommerce"
           type="UCommerce.MasterClass.BusinessLogic.Pipelines.ExportOrderToErpSystem, UCommerce.MasterClass.BusinessLogic">
      <parameters>
        <path>C:\Erp.txt</path>
      </parameters>
    </component>

    <partial-component id="ToCompletedOrder">
      <parameters>
        <tasks>
          <array>
            <value insert="first">${ToCompletedOrder.ExportOrderToErpSystem}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>

    <!--<partial-component id="Basket">
      <parameters>
        <tasks>
          <array>
            <value insert-after="${Basket.ApplyAwards}">${ToCompletedOrder.ExportOrderToErpSystem}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>-->

    <component
					id="QuantityShippingMethodService"
					service=" UCommerce.Transactions.Shipping.IShippingMethodService, UCommerce"
					type="UCommerce.MasterClass.BusinessLogic.Shipping.QuantityShippingMthodService, UCommerce.MasterClass.BusinessLogic">
      <parameters>
        <multiplier>10</multiplier>
      </parameters>
    </component>

    <component
					id="PriceGroupControlFactory"
					service="UCommerce.Presentation.Web.Controls.IControlFactory, UCommerce.Presentation"
					type="UCommerce.MasterClass.BusinessLogic.DataTypes.PriceGroupControlFactory, UCommerce.MasterClass.BusinessLogic">
    </component>

    <component
      id="TaxService"
      service="UCommerce.Catalog.ITaxService, UCommerce"
      type="UCommerce.MasterClass.BusinessLogic.Pricing.ExtendedTaxService, UCommerce.MasterClass.BusinessLogic">
    </component>
  </components>
</configuration>